@font-face {
    font-family: 'Hanson-Bold';
    src:  url('./Fuentes/Hanson-Bold.otf') format('truetype'),
          url('./Fuentes/Hanson-Bold.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Hanson-Bold;  
    color: white;
    text-decoration: none;
}
html{
    /* border: 10px dashed green;  */
    font: 100%;
    overflow-x: hidden;
}
html, body {
    max-width: 100%;
    position: relative;
}

body{ 
    background-color: black;
    /* border: 10px dashed red; */
    
    overflow: hidden;
    width: 100%;
}

#main, #portafolio, #zines, #contacto {
    height: 100vh;
    line-height: 0.8;
    /* border: 10px red dashed; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em;
    overflow: visible;
}

#portafolio > .centering > .title > h2   {
    font-size: 2em;
}
#portafolio > .centering > .repetition > h2{
    font-size: 2em;
    line-height: 0.8;
}

#zines > .centering > .title > h2{
    font-size: 2em;
}
#zines > .centering > .repetition > h2{
    font-size: 2em;
    line-height: 0.8;
}

#contacto > .centering > .title > h2{
    font-size: 2em;
}
#contacto > .centering > .repetition > h2{
    font-size: 2em;
    line-height: 0.8;
}

#contacto {
    margin-bottom: 50px;
}
/* .prueba {
    width: 100%;
    height: 50%;
    background-color: tomato;
    position: absolute;
} */

.centering {
    position: relative;
    top: 25%;
}
.title {
    display: flex;
    align-items: center;
 
    font-size: 2.5rem;
    
}

h1 > a {
    font-size: 1.6em;
}
.repetition {
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
    -webkit-text-stroke: 1.5px white;
    -webkit-text-fill-color: transparent;
}

.pageTitle {
    position: relative;
    font-size: 1em;
    top: 8%;
}



#description {
    height: 100vh;
    /* border: 10px red dashed; */
}
.details {
    height: 100%;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-flow: row nowrap; 
    justify-content: space-evenly;
    align-items: center;   
}


.profileImg > img {
    max-width: 100%;
    height: 100%;
}
.profileImg{
    width: 100%;
    display: flex;
    justify-content: center;
    order: 1;
}
.info {
    width: 100%;
    order: 2;
} 
.info > h2 {
    font-size: 3rem;
}
.info > h3 {
    font-size: 1.5rem;
}

.info > p {
    text-align: justify;
    width: 88%;
    
}

/******* BLOBS **********/

.central-blob, .blob-top, .blob-bottom, .red-blob, .blue-blob, .gD-blob, .iL-blob {
    position: absolute;
    fill: #FFB600;
    width: 10vw;  /* add a problematic space inside the element **/
    z-index: -1;
    animation: move 10s ease-in-out infinite;
    transform-origin: 50% 50%;
    
    
}  

.gD-blob { 
    left: 25%;
}

.iL-blob {
    
    left: 70%;
}
.central-blob {
    bottom: -90px;
    left: 30%;
}
.blob-top {
    top: 5%;
    left: 0;  
    
}
.blob-bottom {
    position: absolute;
    top: 85%;
    left: 10%;
    
    
}
/* .yellow-blob-top > svg > g > path {
    animation: move1 10s linear infinite;
    -webkit-animation:  move1 10s linear infinite;
    -moz-animation:  move1 10s linear infinite;
}  */

.red-blob {
    position: absolute;
    top: 45%;
    left: 50%;
    fill: #DD0000;
    /* width: 50vmax; *//** add a problematic space inside the element **/
    /* z-index: -1;
    animation: move 10s ease-in-out infinite;
    transform-origin: 50% 50%; */
}

.blue-blob {
    position: absolute;
    top: 65%;
    left: 30%;
    fill: #14203b;
    /* width: 50vmax; *//** add a problematic space inside the element **/
    /* z-index: -1;
    animation: move 10s linear infinite;
    
    transform-origin: 50% 50%; */
}

/**********Contact Page***********/

form{
    display: flex;
    align-items: center;
    flex-flow: column;
    margin-top: 8rem;
    margin-bottom: 100px;
    line-height: 2em;
    
}
form textarea {
    margin-top: 5px;
    border-radius: 15px;
    border: hidden;
    width: 25vmax;
    color: black;
    padding-top: 5px;
    padding-left: 10px;
}
form input {
    border-radius: 10px;
    width: 25vmax;
    height: 30px;
    margin-bottom: 10px;
    border: hidden;
    color: black;
    padding-left: 20px;
}

.subPage {
    margin-bottom: 100px;
}

.contactBtn {
    font-size: 1.5em;
}


/*** portafolio Page  ****/
.categories {
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#graphicDesign > .repetition {
    -webkit-text-stroke: 0.8px white;
    line-height: 1;
}
#ilustration > .repetition {
    -webkit-text-stroke: 0.8px white;
    line-height: 1;
}

@keyframes move {
    0%   { transform: scale(1); }
    38%  { transform: scale(0.8, 1)  rotate(160deg);}
    40%  { transform: scale(0.8, 1)  rotate(160deg);}
    78%  { transform: scale(1.3) rotate(20deg);}
    80%  { transform: scale(1.3) rotate(20deg);}
    100% { transform: scale(1);}

} 

/*@keyframes move1 {
    0% {
        transform: rotate(0deg);
    }
    16%   { 
        d: path("M124.9,-194.3C167.9,-166.6,213.1,-142.3,231.3,-104.9C249.4,-67.6,240.5,-17.1,233.9,34.1C227.2,85.3,222.8,137.3,197.6,177.5C172.5,217.6,126.5,246,76.4,261.3C26.2,276.7,-28.2,278.9,-76.2,263.2C-124.3,247.4,-166.1,213.8,-194.2,172.9C-222.4,132.1,-236.9,84.1,-235,39.2C-233.1,-5.8,-214.8,-47.8,-196.3,-90.2C-177.8,-132.7,-159.2,-175.7,-126.5,-208.1C-93.7,-240.5,-46.9,-262.2,-3,-257.6C40.9,-253,81.8,-222,124.9,-194.3Z");
           
    }
    33%  { 
        d: path("M148.3,-222.5C190.6,-203.5,222.2,-159.7,235.3,-112.8C248.4,-65.9,243,-15.9,230.9,29.6C218.8,75.2,200.1,116.2,172.5,151.2C144.9,186.3,108.4,215.5,68.1,223.4C27.9,231.2,-16.1,217.8,-55.2,200.6C-94.4,183.4,-128.8,162.4,-156.9,133.8C-185,105.3,-206.8,69.1,-211.8,30.8C-216.7,-7.4,-204.8,-47.8,-190.4,-90.1C-176,-132.5,-159.1,-176.9,-126.9,-200.5C-94.8,-224.2,-47.4,-227.1,2.8,-231.4C53,-235.8,106,-241.6,148.3,-222.5Z");
           
    }
    50%  { 
        d: path("M119.2,-193.8C156.2,-161.7,189.1,-131.5,211.1,-93.4C233.1,-55.3,244.2,-9.3,235.3,31.9C226.4,73.2,197.5,109.6,167.6,146.8C137.8,184,107.1,222,66.4,240.5C25.7,259.1,-24.9,258.1,-66.3,239.7C-107.8,221.2,-140,185.3,-172.2,148.8C-204.3,112.4,-236.3,75.5,-251.4,30.6C-266.5,-14.3,-264.7,-67.2,-246.7,-115.3C-228.8,-163.3,-194.7,-206.6,-150.9,-235.6C-107,-264.6,-53.5,-279.3,-6.2,-269.6C41.1,-259.9,82.2,-225.9,119.2,-193.8Z");
           
    }
    66%  { 
        d: path("M111,-179.9C145.3,-150.8,175.4,-122.3,191.7,-87.4C208,-52.4,210.4,-10.9,206,30.6C201.6,72.1,190.3,113.7,165.6,145.2C140.9,176.7,102.7,198.2,59.2,218.7C15.8,239.2,-33,258.7,-72.4,247C-111.9,235.3,-142.1,192.3,-172.7,152.3C-203.3,112.3,-234.3,75.2,-240.7,34.2C-247.2,-6.7,-229.1,-51.5,-211.4,-99.1C-193.7,-146.7,-176.3,-197,-141.1,-225.8C-106,-254.6,-53,-261.8,-7.3,-250.4C38.4,-239.1,76.8,-209.1,111,-179.9Z");
            
    }
    /* 83%  { 
        d: path("M137.5,-203.2C176.9,-188.5,206.7,-148.3,230.5,-103.2C254.3,-58.1,272.2,-8.2,267,39.5C261.9,87.2,233.7,132.6,197.6,167.4C161.6,202.2,117.5,226.3,76.8,218.7C36.1,211.1,-1.4,171.7,-51.2,162.5C-101,153.3,-163.1,174.2,-179.2,155.4C-195.3,136.6,-165.5,78,-149.9,35.5C-134.4,-7.1,-133.1,-33.7,-126.8,-62.1C-120.4,-90.6,-108.8,-121,-86.9,-143.7C-64.9,-166.3,-32.4,-181.1,8.3,-194C49,-206.9,98,-217.9,137.5,-203.2Z");
        
    } 
    100% { 
        transform: rotate(360deg); 
    }

}*/


    

@media screen and (max-width: 450px) {
    #portafolio, #zines, #contacto {
        height: 100vh;
    }

    #main {
        margin-bottom: 35%;
    }

    h1 {
        font-size: 1.8rem;        

    }
    h1 > a {
        font-size: 1.7rem;
    }
    .centering {
        top: 5%;
    }
    .details {
        flex-flow: column nowrap;
        justify-content: space-evenly;
    }
    .info {
        width: 100%;
        text-align: center;
    }
    .info > p {
        display: inline-block;
    }
    .repetition{
        -webkit-text-stroke: 0.7px white;
    }
     
    .profileImg {
        height: 50vh;
    } 

    #portafolio> .centering > .repetition > h2 {
        font-size: 2.6rem;
    }
    #zines> .centering > .repetition > h2 {
        font-size: 2.6rem;
    }
    #contacto> .centering > .repetition > h2 {
        font-size: 2.6rem;
    }

    #portafolio> .centering > .title > h2 {
        font-size: 2.6rem;
    }
    #zines> .centering > .title > h2 {
        font-size: 2.6rem;
    }
    #contacto> .centering > .title > h2 {
        font-size: 2.6rem;
    }

    .pageTitle {
        margin-bottom: 40px;
    }

    form {
        margin: 0;
        margin-bottom: 100px;
    }
    
    .central-blob{
        left: 25%;
    }

    .categories {
        flex-direction: column;
        justify-content: space-evenly;

    }
    #graphicDesign > .title {
        font-size: 1.4em;
    }
    #graphicDesign > .title{
        text-align: center;
    }

    #graphicDesign > .repetition {
        font-size: 1.4em;
        text-align: center;
        -webkit-text-stroke: 0.7px;
    }
    #ilustration > .title {
        font-size: 1.4em;
    }
    #ilustration > .repetition {
        font-size: 1.4em;
        -webkit-text-stroke: 0.6px;
    }

    .central-blob > svg {
        height: 100px;
        width: 100px;
    }
    .central-blob {
        left: 35%;
        bottom: -30px;
        width: 30%;
    }

}


@media screen and (min-width: 450px) and (max-width: 700px) {
    h1 {
        font-size: 1em;
    }

    h1 > a {
        font-size: 2.5em;  
    }

    #description {
        margin-top: 11%;
    }

    .details {
        flex-direction: column;
    }

    .info {
        text-align: center;
    }

    .info > p {
        display: inline-block;
    }

    #main > .centering > .repetition > h1 {

        -webkit-text-stroke: 0.8px;
    }

    #portafolio > .centering > .repetition > h2 {
        font-size: 1.4em;
        line-height: 0.9;
        -webkit-text-stroke: 0.9px;
    }
    #zines > .centering > .repetition > h2 {
        font-size: 1.4em;
        line-height: 0.9;
        -webkit-text-stroke: 0.9px;
    }
    #contacto > .centering > .repetition > h2 {
        font-size: 1.4em;
        line-height: 0.9;
        -webkit-text-stroke: 0.9px;
    }

    #portafolio > .centering > .title > h2{
        font-size: 1.4em;
    }
    #zines > .centering > .title > h2{
        font-size: 1.4em;
    }
    #contacto > .centering > .title > h2{
        font-size: 1.4em;   
    }
    .profileImg {
        height: 50vh;
        width: 50vh;
    }
}


@media screen and (min-width: 700px) and (max-width: 1024px) {
    h1 {
        font-size: 4rem;
    }
    h1 > a {
        font-size: 0.8em;
    }
    .centering {
        top: 20%;
    }
    .profileImg {
        padding: 30px;
    }

    .categories {
        padding: 0 20px 0 20px;
    }

}

