<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Sobre mí</title>
        <link rel="stylesheet" href="/css/style.css" />
        <link rel="icon" type="image/png" href="/css/favicon.png" />
    </head>
    <body id="about-page">
        <div class="menu-collapse">
            <div class="open-close">
                <label for="menu">
                    <div id="icon"></div>
                </label>
                <input type="checkbox" name="" id="menu" />
            </div>
            <div class="menu-content">
                <ul>
                    <li><a href="/">inicio</a></li>
                    <li><a href="/about">sobre mí</a></li>
                    <li><a href="/portafolio">portafolio</a></li>
                    <li><a href="/contact">contacto</a></li>
                    <li>
                        <a
                            href="https://www.instagram.com/mariaescribe/ "
                            target="_blank"
                            >instagram</a
                        >
                    </li>
                    <li>
                        <a
                            href="https://www.behance.net/mariaescribe"
                            target="_blank"
                            >behance</a
                        >
                    </li>
                </ul>
            </div>
        </div>
        <header>
            <ul>
                <li><a href="/">inicio</a></li>
                <li><a href="/about">sobre mí</a></li>
                <li><a href="/portafolio">portafolio</a></li>
                <li><a href="/contact">contacto</a></li>
                <li class="social-icon">
                    <a
                        href="https://www.instagram.com/mariaescribe/ "
                        target="_blank"
                        ><img src="/css/instagram.svg" alt="instagram logo" />
                    </a>
                </li>
                <li class="social-icon">
                    <a
                        href="https://www.behance.net/mariaescribe"
                        target="_blank"
                        ><img src="/css/behance.svg" alt="behance logo"
                    /></a>
                </li>
            </ul>
        </header>
        <main>
            <div id="about">
                <div class="centering">
                    <div class="title">
                        <h2>sobre mí</h2>
                    </div>
                    <div class="repetition">
                        <h2>sobre mí</h2>
                        <h2>sobre mí</h2>
                        <h2>sobre mí</h2>
                        <div class="central-blob">
                            <?xml version="1.0" standalone="no"?>
                            <svg
                                width="200"
                                height="200"
                                viewBox="0 0 600 600"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <g transform="translate(300,300)">
                                    <path
                                        d="M126.7,-201.5C164,-173.2,193.9,-137.7,211.4,-97.2C229,-56.6,234.3,-11.1,234.1,38.1C234,87.4,228.5,140.3,202.3,181.4C176.1,222.5,129.3,251.8,80.3,260.1C31.3,268.3,-20,255.5,-65.9,236.5C-111.8,217.5,-152.2,192.2,-188.7,158.7C-225.1,125.2,-257.6,83.5,-267.3,36.5C-277,-10.4,-264,-62.5,-241.7,-109.9C-219.3,-157.2,-187.5,-199.7,-145.6,-226C-103.8,-252.2,-51.9,-262.1,-3.6,-256.5C44.7,-250.9,89.4,-229.8,126.7,-201.5Z"
                                        fill="#FFB600"
                                    />
                                </g>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>

            <div id="description">
                <div class="details">
                    <div class="profileImg">
                        <img src="/2.png" alt="Maria's Face" />
                    </div>
                    <div class="info">
                        <div class="info-title">
                            <h2>hola, soy maría</h2>
                        </div>
                        <br />
                        <div class="text">
                            <p>
                                Si me conoces por mi alterego en Instagram, me
                                llamarás @mariaescribe y, si me has visto con
                                mis amigos, pues soy Marigaby. ¡Qué bonito
                                saludarte!
                            </p>
                            <br />
                            <br />
                            <p>
                                Aquí me gustaría hablarte brevemente sobre
                                <span
                                    >quién soy, a qué me dedico y qué puedo
                                    hacer por ti,</span
                                >
                                ¿te parece?
                            </p>
                            <br />
                            <br />
                            <p>
                                Soy una artista gráfica obsesionada con dos
                                placeres de este mundillo digital: el diseño
                                publicitario y la ilustración. Dentro de estas
                                dos áreas me muevo, experimento y creo. Con una
                                busco darle forma, intención y contenido a los
                                <span>objetivos de mis clientes</span>; y con la
                                otra, trato de darle vida a los
                                <span>colores que me inundan la cabeza.</span>
                                Por suerte, lo digital me da terreno para la
                                primera, y mis sketchbooks albergan con cariño
                                lo segundo.
                            </p>
                            <br />
                            <br />
                            <p>
                                Además de ser licenciada en Publicidad y
                                Mercadeo (2020), soy parte del BSM Crew en Box
                                Social Media, desde el 2019. También acumulo
                                varios años como diseñadora freelance.
                            </p>
                            <br />
                            <br />
                            <p>
                                Si estás aquí, probablemente necesitas apoyo con
                                el
                                <span>diseño gráfico de tu marca.</span> A tu
                                alcance está toda mi
                                <span
                                    >habilidad, creatividad y experiencia</span
                                >
                                para brindarle una estética con personalidad y
                                potencial de conversión a tu negocio. Y claro,
                                ¡para ilustrar tus ideas más brillantes!
                            </p>
                            <br />
                            <br />
                            <p>¿Empezamos?</p>
                        </div>
                        <br />
                        <div class="btn-container">
                            <a href="">necesito<br />diseño gráfica</a>
                            <a href="">quiero<br />ilustración</a>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <script src="/js/menu.collapse.js" type="text/javascript"></script>
    </body>
</html>
