<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>mariaescribe</title>
        <link rel="stylesheet" href="/css/style.css" />
        <link rel="icon" type="image/png" href="/css/favicon.png" />
    </head>
    <body>
        <div class="menu-collapse">
            <div class="open-close">
                <label for="menu">
                    <div id="icon"></div>
                </label>
                <input type="checkbox" name="" id="menu" />
            </div>
            <div class="menu-content">
                <ul>
                    <li><a href="/">inicio</a></li>
                    <li><a href="/about">sobre mí</a></li>
                    <li><a href="/portafolio">portafolio</a></li>
                    <li><a href="/contact">contacto</a></li>
                    <li>
                        <a
                            href="https://www.instagram.com/mariaescribe/ "
                            target="_blank"
                            >instagram</a
                        >
                    </li>
                    <li>
                        <a
                            href="https://www.behance.net/mariaescribe"
                            target="_blank"
                            >behance</a
                        >
                    </li>
                </ul>
            </div>
        </div>
        <header>
            <ul>
                <li><a href="/">inicio</a></li>
                <li><a href="/about">sobre mi</a></li>
                <li><a href="/portafolio">portafolio</a></li>
                <li><a href="/contact">contacto</a></li>
                <li class="social-icon">
                    <a
                        href="https://www.instagram.com/mariaescribe/ "
                        target="_blank"
                        ><img src="/css/instagram.svg" alt="instagram logo" />
                    </a>
                </li>
                <li class="social-icon">
                    <a
                        href="https://www.behance.net/mariaescribe"
                        target="_blank"
                        ><img src="/css/behance.svg" alt="behance logo"
                    /></a>
                </li>
            </ul>
        </header>
        <main id="design-page">
            <div class="design-categorie">
                <div id="social-media" class="design-container">
                    <div class="design-img-container">
                        <img src="/design-page/sm 1.png" alt="" />
                    </div>
                    <div class="design-description">
                        <h2>social media</h2>
                        <p>
                            ¿Que tus clientes te reconozcan en todas las
                            plataformas? ¡Claro que sí! Impulsa la identidad de
                            tu marca en el mundo de las redes sociales una
                            publicación a la vez.
                        </p>
                        <a href="/graphic-design/social-media">ver más</a>
                    </div>
                </div>
            </div>
            <div class="design-categorie">
                <div id="publicidad" class="design-container">
                    <div class="design-img-container">
                        <img src="/design-page/OUBW4748.JPG" alt="" />
                    </div>
                    <div class="design-description">
                        <h2>publicidad</h2>
                        <p>
                            ¿Grandes eventos en la agenda? ¡Que todos lo sepan!
                            Comuniquemos la esencia de tu marca a través de una
                            campaña publicitaria increíble y, hagamos historia.
                        </p>
                        <a href="#">ver más</a>
                    </div>
                </div>
            </div>
            <div class="design-categorie">
                <div id="sitios-web" class="design-container">
                    <div class="design-img-container">
                        <img src="/design-page/1.jpg" alt="" />
                    </div>
                    <div class="design-description">
                        <h2>sitios web</h2>
                        <p>
                            La presencia digital no se trata de redes sociales
                            solamente. ¿Tienes un sitio web? Te ayudo a
                            refrescar su imagen para que tengas una web dinámica
                            y llamativa que enamore a tu audiencia.
                        </p>
                        <a href="#">ver más</a>
                    </div>
                </div>
            </div>
        </main>
        <script src="/js/menu.collapse.js" type="text/javascript"></script>
    </body>
</html>
