<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>mariaescribe</title>
        <link rel="stylesheet" href="/css/style.css" />
        <link rel="icon" type="image/png" href="/css/favicon.png" />
    </head>
    <body>
        <div class="menu-collapse">
            <div class="open-close">
                <label for="menu">
                    <div id="icon"></div>
                </label>
                <input type="checkbox" name="" id="menu" />
            </div>
            <div class="menu-content">
                <ul>
                    <li><a href="/">inicio</a></li>
                    <li><a href="/about">sobre mí</a></li>
                    <li><a href="/portafolio">portafolio</a></li>
                    <li><a href="/contact">contacto</a></li>
                    <li>
                        <a
                            href="https://www.instagram.com/mariaescribe/ "
                            target="_blank"
                            >instagram</a
                        >
                    </li>
                    <li>
                        <a
                            href="https://www.behance.net/mariaescribe"
                            target="_blank"
                            >behance</a
                        >
                    </li>
                </ul>
            </div>
        </div>
        <header>
            <ul>
                <li><a href="/">inicio</a></li>
                <li><a href="/about">sobre mí</a></li>
                <li><a href="/portafolio">portafolio</a></li>
                <li><a href="/contact">contacto</a></li>
                <li class="social-icon">
                    <a
                        href="https://www.instagram.com/mariaescribe/ "
                        target="_blank"
                        ><img src="/css/instagram.svg" alt="instagram logo" />
                    </a>
                </li>
                <li class="social-icon">
                    <a
                        href="https://www.behance.net/mariaescribe"
                        target="_blank"
                        ><img src="/css/behance.svg" alt="behance logo"
                    /></a>
                </li>
            </ul>
        </header>
        <main id="ilustracion-page">
            <div class="ilustracion-container">
                <div class="ilus-img-container">
                    <img src="/ilustracion/feels-1-20202.png" alt="" />
                </div>
                <div class="ilus-img-container">
                    <img src="/ilustracion/puppy2.png" alt="" />
                </div>
                <div class="ilus-img-container">
                    <img src="/ilustracion/IMG_2366.JPG" alt="" />
                </div>
                <div class="ilus-img-container">
                    <img src="/ilustracion/EHIY4294.PNG" alt="" />
                </div>
                <div class="ilus-img-container">
                    <img src="/ilustracion/ylne's22.png" alt="" />
                </div>
                <div class="ilus-img-container">
                    <img src="/ilustracion/IMG_2309.JPG" alt="" />
                </div>
                <div class="ilus-img-container">
                    <img
                        src="/ilustracion/WhatsApp Image 2020-04-04 at 7.53.39 PM.png"
                        alt=""
                    />
                </div>
                <div class="ilus-img-container">
                    <img src="/ilustracion/emotional self harm.png" alt="" />
                </div>
                <div class="ilus-img-container">
                    <img src="/ilustracion/astrologia.png" alt="" />
                </div>
                <div class="ilus-img-container">
                    <img src="/ilustracion/toonmechallenge.png" alt="" />
                </div>
                <div class="ilus-img-container">
                    <img src="/ilustracion/STCR7733.JPG" alt="" />
                </div>
            </div>
            <div class="backToTop-container">
                <p>
                    <a onclick="backToTop()">go to top</a>
                </p>
            </div>
        </main>

        <script src="/js/menu.collapse.js" type="text/javascript"></script>
        <script src="/js/scroll.to.top.js" type="text/javascript"></script>
    </body>
</html>
