<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <!-- <meta name="viewport" content="user-scalable=yes, width=device-width, initial-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" /> -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>mariaescribe</title>
        <link rel="stylesheet" href="/css/style.css" />
    </head>
    <body>
        <header></header>

        <main>
            <div id="main">
                <div class="blob-top">
                    <?xml version="1.0" standalone="no"?>
                    <svg
                        width="400"
                        height="400"
                        viewBox="0 0 600 600"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <g transform="translate(300,300)">
                            <path
                                d="M126.7,-201.5C164,-173.2,193.9,-137.7,211.4,-97.2C229,-56.6,234.3,-11.1,234.1,38.1C234,87.4,228.5,140.3,202.3,181.4C176.1,222.5,129.3,251.8,80.3,260.1C31.3,268.3,-20,255.5,-65.9,236.5C-111.8,217.5,-152.2,192.2,-188.7,158.7C-225.1,125.2,-257.6,83.5,-267.3,36.5C-277,-10.4,-264,-62.5,-241.7,-109.9C-219.3,-157.2,-187.5,-199.7,-145.6,-226C-103.8,-252.2,-51.9,-262.1,-3.6,-256.5C44.7,-250.9,89.4,-229.8,126.7,-201.5Z"
                                fill="#FFB600"
                            />
                        </g>
                    </svg>
                </div>

                <div class="centering">
                    <div class="title">
                        <h1>mariaescribe</h1>
                    </div>
                    <div class="repetition">
                        <h1>mariaescribe</h1>
                        <h1>mariaescribe</h1>
                        <h1>mariaescribe</h1>
                        <h1>mariaescribe</h1>
                        <h1>mariaescribe</h1>
                    </div>
                </div>
            </div>

            <div id="description">
                <div class="details">
                    <div class="profileImg">
                        <img src="/2.png" alt="Maria's Face" />
                    </div>
                    <div class="info">
                        <h2>maría gabriela</h2>
                        <br />
                        <h3>artista gráfico</h3>
                        <br />
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Repudiandae cupiditate laboriosam ut? Modi
                            consequatur cum rerum eveniet laboriosam odit!
                            Eveniet beatae, sed dolorum fugiat nemo eaque cumque
                            quae dolore molestias.
                        </p>
                    </div>
                </div>
            </div>

            <div id="portafolio">
                <div class="red-blob">
                    <?xml version="1.0" standalone="no"?>
                    <svg
                        width="400"
                        height="400"
                        viewBox="0 0 600 600"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <g transform="translate(300,300)">
                            <path
                                d="M127.8,-202.4C168.7,-172.5,207.2,-142.4,232.1,-101.9C257.1,-61.3,268.6,-10.5,260.1,36.2C251.5,82.9,222.9,125.6,189.1,163C155.4,200.5,116.6,232.6,71.4,248.1C26.3,263.5,-25.2,262.3,-71.3,246.8C-117.3,231.4,-158.1,201.8,-186.4,164.2C-214.7,126.6,-230.6,81,-233.8,35.7C-237.1,-9.6,-227.7,-54.7,-209.6,-96.3C-191.5,-138,-164.7,-176.2,-128.3,-208.1C-91.9,-240,-46,-265.5,-1.3,-263.5C43.4,-261.6,86.9,-232.2,127.8,-202.4Z"
                                fill="#dd0000"
                            />
                        </g>
                    </svg>
                </div>
                <div class="centering">
                    <div class="title">
                        <h2><a href="/portafolio">portafolio</a></h2>
                    </div>
                    <div class="repetition">
                        <h2><a href="/portafolio">portafolio</a></h2>
                        <h2><a href="/portafolio">portafolio</a></h2>
                        <h2><a href="/portafolio">portafolio</a></h2>
                        <h2><a href="/portafolio">portafolio</a></h2>
                        <h2><a href="/portafolio">portafolio</a></h2>
                    </div>
                </div>
            </div>

            <div id="contacto">
                <div class="blob-bottom">
                    <?xml version="1.0" standalone="no"?>
                    <svg
                        width="400"
                        height="400"
                        viewBox="0 0 600 600"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <g transform="translate(300,300)">
                            <path
                                d="M126.7,-201.5C164,-173.2,193.9,-137.7,211.4,-97.2C229,-56.6,234.3,-11.1,234.1,38.1C234,87.4,228.5,140.3,202.3,181.4C176.1,222.5,129.3,251.8,80.3,260.1C31.3,268.3,-20,255.5,-65.9,236.5C-111.8,217.5,-152.2,192.2,-188.7,158.7C-225.1,125.2,-257.6,83.5,-267.3,36.5C-277,-10.4,-264,-62.5,-241.7,-109.9C-219.3,-157.2,-187.5,-199.7,-145.6,-226C-103.8,-252.2,-51.9,-262.1,-3.6,-256.5C44.7,-250.9,89.4,-229.8,126.7,-201.5Z"
                                fill="#006A4A"
                            />
                        </g>
                    </svg>
                </div>
                <div class="centering">
                    <div class="title">
                        <h2><a href="/contact">contacto</a></h2>
                    </div>
                    <div class="repetition">
                        <h2><a href="/contact">contacto</a></h2>
                        <h2><a href="/contact">contacto</a></h2>
                        <h2><a href="/contact">contacto</a></h2>
                        <h2><a href="/contact">contacto</a></h2>
                        <h2><a href="/contact">contacto</a></h2>
                    </div>
                </div>
            </div>
        </main>

        <footer></footer>
    </body>
</html>
