<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>mariaescribe</title>
        <link rel="stylesheet" href="/css/style.css" />
        <link rel="icon" type="image/png" href="/css/favicon.png" />
    </head>
    <script>
        function backToTop() {
            window.scroll({ top: 0, left: 0, behavior: "smooth" });
        }
    </script>
    <body>
        <div class="menu-collapse">
            <div class="open-close">
                <label for="menu">
                    <div id="icon"></div>
                </label>
                <input type="checkbox" name="" id="menu" />
            </div>
            <div class="menu-content">
                <ul>
                    <li><a href="/">inicio</a></li>
                    <li><a href="/about">sobre mí</a></li>
                    <li><a href="/portafolio">portafolio</a></li>
                    <li><a href="/contact">contacto</a></li>
                    <li>
                        <a
                            href="https://www.instagram.com/mariaescribe/ "
                            target="_blank"
                            >instagram</a
                        >
                    </li>
                    <li>
                        <a
                            href="https://www.behance.net/mariaescribe"
                            target="_blank"
                            >behance</a
                        >
                    </li>
                </ul>
            </div>
        </div>
        <header>
            <ul>
                <li><a href="/">inicio</a></li>
                <li><a href="/about">sobre mí</a></li>
                <li><a href="/portafolio">portafolio</a></li>
                <li><a href="/contact">contacto</a></li>
                <li class="social-icon">
                    <a
                        href="https://www.instagram.com/mariaescribe/ "
                        target="_blank"
                        ><img src="/css/instagram.svg" alt="instagram logo" />
                    </a>
                </li>
                <li class="social-icon">
                    <a
                        href="https://www.behance.net/mariaescribe"
                        target="_blank"
                        ><img src="/css/behance.svg" alt="behance logo"
                    /></a>
                </li>
            </ul>
        </header>
        <main id="publicidad-page">
            <div class="publicidad-container">
                <div class="rows-container">
                    <div class="ads-container">
                        <div class="ad-img-container">
                            <img src="/design-page/publi/fucsia.jpg" alt="" />
                        </div>
                        <div class="ad-img-container">
                            <img src="/design-page/publi/hummer.jpg" alt="" />
                        </div>
                        <div class="ad-img-container">
                            <img
                                src="/design-page/publi/DISEÑO LATA 1.png"
                                alt=""
                            />
                        </div>
                        <div class="ad-img-container">
                            <img
                                src="/design-page/publi/Pendon - 100cm x 70cm.jpg"
                                alt=""
                            />
                        </div>
                        <div class="ad-img-container">
                            <img
                                src="/design-page/publi/HBV2 ALT MODIF.jpg"
                                alt=""
                            />
                        </div>
                    </div>
                    <div class="ads-container">
                        <div class="ad-img-container">
                            <img src="/design-page/publi/triada2.jpg" alt="" />
                        </div>
                        <div class="ad-img-container">
                            <img src="/design-page/publi/gass.jpg" alt="" />
                        </div>
                        <div class="ad-img-container">
                            <img
                                src="/design-page/publi/flyer jorge.jpg"
                                alt=""
                            />
                        </div>
                        <div class="ad-img-container">
                            <img src="/design-page/publi/OUBW4748.JPG" alt="" />
                        </div>
                    </div>
                </div>
                <p>
                    <a onclick="backToTop()">go to top</a>
                </p>
            </div>
        </main>

        <script src="/js/menu.collapse.js" type="text/javascript"></script>
        <script src="/js/scroll.to.top.js" type="text/javascript"></script>
    </body>
</html>
