<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>mariaescribe</title>
        <link rel="stylesheet" href="/css/style.css" />
        <link rel="icon" type="image/png" href="/css/favicon.png" />
    </head>
    <body>
        <div class="menu-collapse">
            <div class="open-close">
                <label for="menu">
                    <div id="icon"></div>
                </label>
                <input type="checkbox" name="" id="menu" />
            </div>
            <div class="menu-content">
                <ul>
                    <li><a href="/">inicio</a></li>
                    <li><a href="/about">sobre mí</a></li>
                    <li><a href="/portafolio">portafolio</a></li>
                    <li><a href="/contact">contacto</a></li>
                    <li>
                        <a
                            href="https://www.instagram.com/mariaescribe/ "
                            target="_blank"
                            >instagram</a
                        >
                    </li>
                    <li>
                        <a
                            href="https://www.behance.net/mariaescribe"
                            target="_blank"
                            >behance</a
                        >
                    </li>
                </ul>
            </div>
        </div>
        <header>
            <ul>
                <li><a href="/">inicio</a></li>
                <li><a href="/about">sobre mí</a></li>
                <li><a href="/portafolio">portafolio</a></li>
                <li><a href="/contact">contacto</a></li>
                <li class="social-icon">
                    <a
                        href="https://www.instagram.com/mariaescribe/ "
                        target="_blank"
                        ><img src="/css/instagram.svg" alt="instagram logo" />
                    </a>
                </li>
                <li class="social-icon">
                    <a
                        href="https://www.behance.net/mariaescribe"
                        target="_blank"
                        ><img src="/css/behance.svg" alt="behance logo"
                    /></a>
                </li>
            </ul>
        </header>
        <main id="social-media-page">
            <div class="social-media-container">
                <div class="mockups-container">
                    <div class="social-img-container">
                        <img
                            src="/design-page/social-media-page/sm 1.jpg"
                            alt=""
                        />
                    </div>
                    <div class="social-img-container">
                        <img
                            src="/design-page/social-media-page/sm 2.jpg"
                            alt=""
                        />
                    </div>
                    <div class="social-img-container">
                        <img
                            src="/design-page/social-media-page/sm 3.jpg"
                            alt=""
                        />
                    </div>
                    <div class="social-img-container">
                        <img
                            src="/design-page/social-media-page/sm 4.jpg"
                            alt=""
                        />
                    </div>
                    <div class="social-img-container">
                        <img
                            src="/design-page/social-media-page/sm 5.jpg"
                            alt=""
                        />
                    </div>
                    <div class="social-img-container">
                        <img
                            src="/design-page/social-media-page/sm 6.jpg"
                            alt=""
                        />
                    </div>
                </div>
            </div>
        </main>
        <script src="/js/menu.collapse.js" type="text/javascript"></script>
    </body>
</html>
