@font-face {
    font-family: "Hanson-Bold";
    src: url("/Fuentes/Hanson-Bold.otf") format("truetype"),
        url("/Fuentes/Hanson-Bold.ttf") format("truetype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Hanson-Bold;
    color: white;
    text-decoration: none;
}
html {
    /* border: 10px dashed green;  */
    font: 100%;
    overflow-x: hidden;
}
html,
body {
    max-width: 100%;
    position: relative;
}

body {
    background-color: black;
    /* border: 10px dashed red; */

    overflow: hidden;
    width: 100%;
}

#main,
#portafolio,
#contacto {
    height: 100vh;
    line-height: 0.8;
    /* border: 10px red dashed; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em;
    overflow: visible;
}

#portafolio > .centering > .title > h2 {
    font-size: 2em;
}
#portafolio > .centering > .repetition > h2 {
    font-size: 2em;
    line-height: 0.8;
}

#contacto > .centering > .title > h2 {
    font-size: 2em;
}
#contacto > .centering > .repetition > h2 {
    font-size: 2em;
    line-height: 0.8;
}

#contacto {
    margin-bottom: 50px;
}
/* .prueba {
    width: 100%;
    height: 50%;
    background-color: tomato;
    position: absolute;
} */

.centering {
    position: relative;
    top: 25%;
}

/********** Header *************/

header > ul {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    list-style: none;
    height: 100px;
    width: 100%;

    background-color: rgba(0, 0, 0, 0.452);
    z-index: 1;
}
/****************************/

.social-icon {
    height: 20px;
    width: 20px;
}

.menu-content > ul > .social-icon {
    margin: 0 auto;
    height: auto;
}
/*********** Side Header *******/
.menu-collapse {
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    height: 100vh;
    padding: 30px;
    display: none;
    position: absolute;
    z-index: 2;
    position: fixed;
    overflow: hidden;
}

.menu-content {
    display: none;
    height: 85%;
    font-size: 1.3rem;
}

.menu-content ul {
    text-align: center;
    list-style: none;
    height: 100%;
    /* line-height: 4em; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.menu-content ul li a {
    color: white;
    text-decoration: none;
}

.open-close {
    padding: 1.2em 0 1.2em 0;
    margin-bottom: 1em;
}

.open-close > label > #icon {
    height: 25px;
    width: 25px;
    position: absolute;
    left: 80%;
    cursor: pointer;
    background: url(/css/menu.svg) no-repeat;
}
.open-close > label > svg {
    max-width: 100%;
    height: auto;
    color: white;
}
.open-close input {
    position: relative;
    left: 80%;
    height: 20px;
    width: 20px;
    display: none;
}

/***************************/

/***** Not Found Page *****/
.notFound {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.notFound > .title {
    -webkit-text-stroke: 1.5px white;
    -webkit-text-fill-color: transparent;
}

.notFound > .title > h1 {
    font-size: 5em;
}
.notFound > .repetition > h1 {
    font-size: 1.8em;
}

.notFound > .repetition > h1 {
    font-size: 1.8em;
}

/**********************************/

.title {
    display: flex;
    align-items: center;

    font-size: 2.5rem;
}

h1 > a {
    font-size: 1.6em;
}
.repetition {
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    -webkit-text-stroke: 1.5px white;
    -webkit-text-fill-color: transparent;
}

.pageTitle {
    position: relative;
    font-size: 1em;
    top: 8%;
    margin-top: 100px;
}

#description {
    height: 100vh;
    /* border: 10px red dashed; */
}
.details {
    height: 100%;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.profileImg > img {
    max-width: 100%;
    height: 100%;
}
.profileImg {
    width: 100%;
    display: flex;
    justify-content: center;
    order: 1;
}
.info {
    width: 100%;
    order: 2;
}
.info > h2 {
    font-size: 3rem;
}
.info > h3 {
    font-size: 1.5rem;
}

.info > p {
    text-align: justify;
    width: 88%;
}

/******* BLOBS **********/

.central-blob,
.blob-top,
.blob-bottom,
.red-blob,
.blue-blob,
.gD-blob,
.iL-blob {
    position: absolute;
    fill: #ffb600;
    width: 10vw; /* add a problematic space inside the element **/
    z-index: -1;
    animation: move 10s ease-in-out infinite;
    transform-origin: 50% 50%;
}

.gD-blob {
    left: 25%;
}

.iL-blob {
    left: 70%;
}
.central-blob {
    bottom: -90px;
    left: 5%;
}
.blob-top {
    top: 5%;
    left: 0;
}
.blob-bottom {
    position: absolute;
    top: 85%;
    left: 10%;
}
/* .yellow-blob-top > svg > g > path {
    animation: move1 10s linear infinite;
    -webkit-animation:  move1 10s linear infinite;
    -moz-animation:  move1 10s linear infinite;
}  */

.red-blob {
    position: absolute;
    top: 45%;
    left: 50%;
    fill: #dd0000;
    /* width: 50vmax; */ /** add a problematic space inside the element **/
    /* z-index: -1;
    animation: move 10s ease-in-out infinite;
    transform-origin: 50% 50%; */
}

.blue-blob {
    position: absolute;
    top: 65%;
    left: 30%;
    fill: #14203b;
    /* width: 50vmax; */ /** add a problematic space inside the element **/
    /* z-index: -1;
    animation: move 10s linear infinite;
    
    transform-origin: 50% 50%; */
}

/**********Contact Page***********/

form {
    display: flex;
    align-items: center;
    flex-flow: column;
    margin-top: 8rem;
    margin-bottom: 100px;
    line-height: 2em;
}
form textarea {
    margin-top: 5px;
    border-radius: 15px;
    border: hidden;
    width: 25vmax;
    color: black;
    padding-top: 5px;
    padding-left: 12px;
}
form input {
    border-radius: 7px;
    width: 25vmax;
    height: 30px;
    margin-bottom: 10px;
    border: hidden;
    color: black;
    padding-left: 15px;
}

.subPage {
    margin-bottom: 100px;
}

.contactBtn {
    padding: 0;
    color: white;
    font-size: 1.2em;
    background-color: transparent;
    border: transparent;
    margin-top: 10px;
}

.contactBtn:hover {
    cursor: pointer;
}

.contactBtn:disabled {
    -webkit-text-stroke: 0.5px white;
    -webkit-text-fill-color: transparent;
}

/*** portafolio Page  ****/
.categories {
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#graphicDesign > .repetition {
    -webkit-text-stroke: 0.8px white;
    line-height: 1;
}
#ilustration > .repetition {
    -webkit-text-stroke: 0.8px white;
    line-height: 1;
}

@keyframes move {
    0% {
        transform: scale(1);
    }
    38% {
        transform: scale(0.8, 1) rotate(160deg);
    }
    40% {
        transform: scale(0.8, 1) rotate(160deg);
    }
    78% {
        transform: scale(1.3) rotate(20deg);
    }
    80% {
        transform: scale(1.3) rotate(20deg);
    }
    100% {
        transform: scale(1);
    }
}

@media screen and (max-width: 450px) {
    #portafolio,
    #contacto {
        height: 100vh;
    }

    #main {
        margin-bottom: 35%;
    }

    h1 {
        font-size: 1.8rem;
    }
    h1 > a {
        font-size: 1.7rem;
    }
    .centering {
        top: 5%;
    }
    .details {
        flex-flow: column nowrap;
        justify-content: space-evenly;
    }
    .info {
        width: 100%;
        text-align: center;
    }
    .info > p {
        display: inline-block;
    }
    .repetition {
        -webkit-text-stroke: 0.7px white;
    }

    .profileImg {
        height: 50vh;
    }

    #portafolio > .centering > .repetition > h2 {
        font-size: 2.6rem;
    }

    #contacto > .centering > .repetition > h2 {
        font-size: 2.6rem;
    }

    #portafolio > .centering > .title > h2 {
        font-size: 2.6rem;
    }

    #contacto > .centering > .title > h2 {
        font-size: 2.6rem;
    }

    .pageTitle {
        margin-bottom: 40px;
    }

    form {
        margin: 0;
        margin-bottom: 100px;
    }

    .central-blob {
        left: 25%;
    }

    .categories {
        flex-direction: column;
        justify-content: space-evenly;
    }
    #graphicDesign > .title {
        font-size: 1.4em;
    }
    #graphicDesign > .title {
        text-align: center;
    }

    #graphicDesign > .repetition {
        font-size: 1.4em;
        text-align: center;
        -webkit-text-stroke: 0.7px;
    }
    #ilustration > .title {
        font-size: 1.4em;
    }
    #ilustration > .repetition {
        font-size: 1.4em;
        -webkit-text-stroke: 0.6px;
    }

    .central-blob > svg {
        height: 100px;
        width: 100px;
    }
    .central-blob {
        left: 35%;
        bottom: -30px;
        width: 30%;
    }

    .notFound > .title > h1 {
        font-size: 5rem;
    }
    .notFound > .repetition > h1 {
        margin-top: 10px;
        font-size: 1.8rem;
    }
    header > ul {
        display: none;
    }
    .menu-collapse {
        display: block;
        height: 25%;
    }
}

@media screen and (min-width: 450px) and (max-width: 700px) {
    h1 {
        font-size: 1em;
    }

    h1 > a {
        font-size: 2.5em;
    }

    #description {
        margin-top: 11%;
    }

    .details {
        flex-direction: column;
    }

    .info {
        text-align: center;
    }

    .info > p {
        display: inline-block;
    }

    #main > .centering > .repetition > h1 {
        -webkit-text-stroke: 0.8px;
    }

    #portafolio > .centering > .repetition > h2 {
        font-size: 1.4em;
        line-height: 0.9;
        -webkit-text-stroke: 0.9px;
    }

    #contacto > .centering > .repetition > h2 {
        font-size: 1.4em;
        line-height: 0.9;
        -webkit-text-stroke: 0.9px;
    }

    #portafolio > .centering > .title > h2 {
        font-size: 1.4em;
    }

    #contacto > .centering > .title > h2 {
        font-size: 1.4em;
    }
    .profileImg {
        height: 50vh;
        width: 50vh;
    }
    .notFound > .title > h1 {
        font-size: 4em;
    }
    .notFound > .repetition > h1 {
        margin-top: 10px;
        font-size: 1.45em;
    }
    header > ul {
        display: none;
    }
    .menu-collapse {
        display: block;
        height: 25%;
    }
}

@media screen and (min-width: 700px) and (max-width: 1024px) {
    h1 {
        font-size: 4rem;
    }
    h1 > a {
        font-size: 0.8em;
    }
    .centering {
        top: 20%;
    }
    .profileImg {
        padding: 30px;
    }

    .categories {
        padding: 0 20px 0 20px;
    }
}
